/* App partial view styles */
.App {
  width: 100vw;
  text-align: center;
  z-index: -1;
  position: relative;
  overflow-x: hidden;
}

.dark-mode .App {
  background-color: rgb(10, 4, 22);
}

#root {
  z-index: -1 !important;
  position: relative !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.logo {
  height: 3.5em !important;
  width: 3.5em !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.reCaptcha {
  padding-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}