/* Import and change fonts here */
body {
  margin: 0;
  background-color: rgb(227, 227, 227) !important;
}
:root { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif !important; }
}